* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    // width: 1400px;
    padding: 0px 50px;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Fira Sans';
    font-weight: 500;
    // overflow-x: hidden;
    // overflow-y: scroll;
}
.navbar-fixed {
    position: fixed;
    transition: all .0.5s linear;
    width: 100%;
    
}
.swiper-container {
    width: 100%;
    height: 550px;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active {
    background-color: #332208;
    outline: none;
}

@media(max-width: 1200px) {
    
}



.swiper-container2 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #332208;

    /* Center slide text vertically */

    display: flex;
    justify-content: center;
    align-items: center;
  }
  