.modal {
    display: none;
    background-color: #e6e6e6;
    width: 450px;
    height: 300px;
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 35%;
    padding: 15px;
    &-block {
        position: relative;
        &__content {
            margin-top: 70px;
        }
    }
    &-title {
        text-align: center;
        font-size: 30px;
        color: #000;
    }
    &-text {
        margin-top: 30px;
        text-align: center;
        font-size: 40px;
        color: #fff;
        background-color: #C5AC2D;
    }
    &-close {
        position: absolute;
        right: 15px;
        width: 22px;
        height: 22px;
    }
}